<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
<parameter name="browsername" value="chrome"/>
<parameter name="url" value="http://leaftaps.com/opentaps/"/>

  <test thread-count="2" parallel="classes" name="POM test">
   <classes> 
      <class name="com.leaftaps.ui.testcases.TC01_CreateLead"/>
      <!-- <class name="com.leaftaps.ui.testcases.TC02_DeleteLead"/>
      <class name="com.leaftaps.ui.testcases.TC03_EditLead"/>
      <class name="com.leaftaps.ui.testcases.TC04_DuplicateLead"/>
      <class name="com.leaftaps.ui.testcases.TC05_MergeLead"/> -->
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
